*

# Accepted files extension
!.gitattributes
!.gitignore
!*.1
!*.ai
!*.cfg
!*.docx
!*.dmt
!*.dtl
!*.fmt
!*.json
!*.map
!*.md
!*.mtl
!*.pdf
!*.pnt
!*.pptx
!*.pro
!*.ps1
!*.qry
!*.scene
!*.scl
!*.svg
!*.ui
!*.xlsx
!*.yml
!*.zip
!*/

# Accepted modelcheck files extension
!*.mcc
!*.mc
!*.gmc
!*.mch
!*.mcn
!*.mcs
!*.mcr
!*.txt

# Accepted files
!config/matlab/creolink.dat

# Licensing for the public part
!**/LICENSE

# Specific files or folders to be ignored
/debug_feat_recognition.txt.1
config/trail/trail*
config/search_path_custom.pro
*.bom.1
*.log.1
